.main-page-container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    min-height: 100vh;
}

.main-page-container-balance {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.main-page-container-balance-fields {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 1.5%;
    height: 90vh;
    min-width: 20%;
    background: rgb(57, 140, 128);
    background: linear-gradient(90deg, rgba(57, 140, 128, 1) 0%, #20655b 100%);
    border-bottom-right-radius: 22px;
}

.main-page-container-balance-fields p {
    color: #85CBC1;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.main-page-container-balance-fields-welcome {
    margin-bottom: 12%;
}

.main-page-container-balance-fields-welcome h1 {
    color: white;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.main-page-container-balance-fields-value h1 {
    color: white;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.main-page-container-balance-transactions {
    display: flex;
    height: 90vh;
    background-color: #181818;
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
    padding-top: 2.5%;
    align-items: center;
    padding-inline: 5%;
}

.main-page-container-balance-transactions-total {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    border-radius: 14px;
    background-color: black;
    height: 23%;
    padding: 4%;
}

.main-page-container-balance-transactions-total-filter {
    color: white;
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1%;
}

.main-page-container-balance-transactions-total-filter div {
    flex-grow: 1;
    transition: 200ms;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}


.main-page-container-balance-transactions-total-title {
    color: white;
}

.main-page-container-balance-transactions h1 {
    font-size: 1.5rem;
    color: white;
    margin-top: 2%;
}

.main-page-container-balance-transactions-history {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-height: 70vh;
    border-radius: 7.5px;
}

.main-page-container-balance-fields-new-transaction {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}

.main-page-container-balance-fields-new-transaction button {
    width: 100%;
    cursor: pointer;
    font-size: 1.35rem;
    border-radius: 44px;
    padding-block: 10%;
}

.main-page-container-balance-fields-new-transaction button p {
    font-size: 1rem;
    color: black;
}