.transactions-table-container {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    overflow: hidden;
}

.transactions-table-container thead tr {
    background-color: white;
    height: 50px;
}

.transactions-table-container td {
    padding: 12px 15px;
    text-align: center;
}

.transactions-table-container tbody tr {
    border-bottom: thin solid #dddddd;
    cursor: crosshair;
}

.transactions-table-container tbody tr:nth-of-type(1n) {
    background-color: #f3f3f3;
}


.transactions-table-container tbody tr:nth-of-type() {
    background-color: #f3f3f3;
}


.transactions-table-container tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
    border-radius: 14px;
}


.transactions-table-container tbody tr:hover {
    color: #009879;
}

.transactions-table-container thead tr th svg {
    background-color: #dddddd;
    border-radius: 5px;
    cursor: pointer;
}